$def with ()
<link rel="stylesheet" type="text/css" href="/css/login.css">
<form id="login" action="" method="POST">
<table align="left">
<tbody>
    <tr>
        <td><label for="username">帐号</label></td>
        <td><input type="text" id="username" name="username" /><span class="validate_tip"></span></td>
    </tr>
    <tr>
        <td><label for="password">密码</label></td>
        <td><input type="password" id="password" name="password" /><span class="validate_tip"></span></td>
    </tr>
    <tr>
        <td></td>
        <td><a href="/" id="find_password">返回首页</a></td>
    </tr>
    <tr><td><input type="submit" id="login_btn" value="登录" /></td></tr>
</tbody>
</table>
</form>